body
{
background-size:contain;
background-image:none;
}


.nav-wrapper li
{
display: inline;
31.
padding : 5px 0;
}

.col l4 offset-l2 s12
{
border:1px solid black;
}

.carousel-inner > .item > img { margin: 0 auto; }

img
{
width:50em;
margin:0 auto;
}

.img-ligne
{
text-align:center;
vertical-align:center;
display: inline;
}
