
html
{
}

body
{
	margin:0;
	padding:0;
	background-size:cover;
	background-color:#DCDCDC;
	background-attachment:fixed;
	color:black;
}

.container
{
	background-repeat:no-repeat;
	background-color:white;
	background-size:cover;
}

li
{
	list-style-type:none;
}

.cordonnate
{
	list-style-type:none;
	font-weight:bold;
}

.menu li
{
	display:inline;
	font-weight:bold;
}

.menu a
{
	color:black;
}

.menu a:hover
{
	color:white;
}

.menu a
{
	width:15px;
	height:15px;
}

.brand-logo img
{
	width:75px;
	height:25px;
}

.nav-wrapper img
{
	height:65px;
	width:75px;
}

.nav-wrapper
{
	background-color:white;
	margin:2em;
}

.nav-wrapper a
{
	color:black;
}

nav
{
	background-color:white;
	height:9em;
	border-radius:10px;
}

.eurolog img
{
	width:250px;
	height:95px;
}

nav li
{
	text-align:center;
	color:black;
}

.mail a
{
	background-color:black;
	border:1px solid black;
	color:white;
}

span
{
	font-weight:bold;
}

.pantalons
{
	background-image:url("tshirt.png");
	height:20em;
	background-repeat:no-repeat;
}

.tshirt
{
	height:20em;
	background-repeat:no-repeat;
	background-image:url("pantalon.png");
}

.shirt img
{
	height:35em;
	width:15em;
}

.shirt
{
	height:35em;
	width:100%;
	border:1px solid black;
	background-repeat:no-repeat;
}

.clothes img
{
	width:22.5%;
	margin:0.5%;
	height:25em;
	border-radius:10px;
	border:3px solid black;
}

.side-nav a
{
	font-weight:bold;
	font-size:45px;
	margin:5%;
}

.side-nav img
{
	width:75px;
	height:75px;
}

#stickers
{
	border:1px solid black;
	height:40em;
	background-image:url("mosaique1.png");
	background-size:cover;
	background-repeat:no-repeat;
}

#tshirt a:hover
{
	background-image:url("tshirt.png");
}

.collapsible img
{
	width:200px;
	height:200px;
	border-radius:20px;
}

.parallax img
{
	width:80%;
}

.unslider img
{
	width:80%;
	border-radius:15px;
}

#message
{
	height:15em;
}

footer.page-footer
{
	background-color:white;
	border:2px solid black;
	border-radius:5px;
}

.margin img
{
	float:right;
}

.button-collapse
{
	margin-right:100%;
}

.material-icons
{
	position:relative;
	top:3.5em;
}

.unslider
{
	width:70%;
	height:100%;
}

#car h3
{
	white-space:pre-wrap;
}

@media screen and (max-width: 640px)
{
	body
	{
		background-image:none;
	}

	#car h3
	{
		white-space:pre-line;
	}

	.container
	{
		width:100%;
	}

	.unslider
	{
		width:100%;
	}
}

.reduct-text
{
	width:62%;
	float:left;
}

.iframe
{
	float:right;
}

@media screen and (max-width: 640px)
{
	.iframe
	{
		clear:both;
		float:none;
	}

	iframe
	{
		width: 100%;
		overflow: scroll;
		white-space: nowrap;
	}

	.reduct-text
	{
		width:100%;
	}

	.unslider
	{
		width:100%;
	}
}

@media screen and (max-width: 940px)
{
	.iframe
	{
		clear:both;
		float:none;
	}

	iframe
	{
		width:100%;
		overflow: scroll;
		white-space: nowrap;
	}

	.reduct-text
	{
		width:100%;
	}

	.unslider
	{
		width:100%;
	}
}

h5
{
	color:red;
	font-weight:bold;
}
}
