.unslider-nav ol {
  list-style: none;
  text-align: center;
}
.unslider-nav ol li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 4px;
  background: transparent;
  border-radius: 5px;
  overflow: hidden;
  text-indent: -999em;
  border: 2px solid black;
  cursor: pointer;
}
.unslider-nav ol li.unslider-active {
  background:black;
  cursor: default;
}

.unslider-nav 
{
height:5em;
border:2px solid black;
}

